@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}
.card {
    text-align: center;
    margin: 0 auto;
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 15px;   
}
.upper img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.header{
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size:  20px;
    color: hsl(218, 44%, 22%);
    padding: 10px 0px;
}
p{
    font-family: 'Outfit', sans-serif;
    padding: 10px 0px;
    margin-top: -5px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}